<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenAIOnWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenAIOnWPF.Properties.Settings>
            <setting name="ConversationHistoryCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NoticeFlg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstructionList" serializeAs="String">
                <value>[["Language Instruction","Please speak Japanese"],["Summarize","Summarize the following text and bullet the most important points"],["Question","Ask questions to achieve the objectives you communicate next.\n- Ask questions to see if this condition is met or to achieve this goal\n- Please ask only one question\n- Please ask the question in Japanese"]]</value>
            </setting>
            <setting name="Instruction" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenUsage" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigDataTable" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseConversationHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSystemPromptColumnVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SystemPromptColumnWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ConversationColumnWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="IsConversationColumnVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TranslationAPIUrlDeepL" serializeAs="String">
                <value>https://api-free.deepl.com/v2/translate</value>
            </setting>
            <setting name="TranslationAPIKeyDeepL" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslationAPIUseFlg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromTranslationLanguage" serializeAs="String">
                <value>JA</value>
            </setting>
            <setting name="ToTranslationLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="TranslationAPIProvider" serializeAs="String">
                <value>DeepL</value>
            </setting>
            <setting name="TranslationAPIUrlGoogle" serializeAs="String">
                <value>https://translation.googleapis.com/language/translate/v2</value>
            </setting>
            <setting name="TranslationAPIKeyGoogle" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPromptTemplateListVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptTemplateGridRowHeigh" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ChatListGridRowHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PromptTemplateGridRowHeightSave" serializeAs="String">
                <value>200</value>
            </setting>
        </OpenAIOnWPF.Properties.Settings>
    </userSettings>
</configuration>